/* colors */
$tint:rgba(31, 103, 181, 0.7);
$clear:rgba(31, 103, 181, 0);
$header_dark_text:rgba(37,36,40,0.68);
$header_shadow_color:rgba(37,36,40,0.28);
$body_title_blue:#073470;
$silver:silver;
$blue:#006699;
$alt_blue:#1A69B0;
$white:white;
$button_silver:#60686F;
$button_blue:#153650;
$footer_background_color:#093755;
$footer_text_color:#A4B4BF;
/* images */
$header_background:url(ocean.png);
$box1_image:url(surfboard.jpg);
$box2_image:url(beer.jpg);
$box3_image:url(zach.png);
$box4_image:url(bottles.jpg);
/* fonts */
$font_headings:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font_title:"Lucida Console", Monaco, monospace;
